{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<h1 align="center">Make a post!</h1>
<form method="POST">
    <textarea name="text" id="text" class="form-control"></textarea>
    <br />
    <div align="center">
        <a href="/home"> <button type="submit" class="btn btn-lg btn-primary">Share</button></a>
    </div>

</form>
<br />
<div align="center">
    <a href="/home"> <button type="buttom" class="btn btn-lg btn-secondary">Nevermind</button></a>
</div>
{% endblock %}